<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Miniapp</title>
</head>
<body>
    <header class="nav">
        <h1 class="hidden">Nav Menu</h1>
        <img id="main-logo" src="images/mini_logo.svg" alt="avengers logo">
        <nav class="navmenu">
            <ul>
                <li>Icons</li>
                <li>Stickers</li>
                <li>Interface Icons</li>
                <li>Animated Icons</li>
                <li class="more">More</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="home">
            <div class="mainVideo">
                <iframe src="https://www.youtube.com/embed/alpYPXHAEsE?autoplay=1&loop=1&rel=0&controls=0&playlist=alpYPXHAEsE" width="1920" height="1080" title="home video" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>
        <section id="app">
    
            <article class="tittle">
                <h3>MEET THE MINI FAMILY</h3>
            </article>
    
            <nav class="modelNav">
                <ul class="models">
                    <modelthumbnail @loadmodelinfo="loadModelBox" v-for="model in modelData" :model="model"></modelthumbnail>
                </ul>
            </nav>

            <thebox @closeinfobox="this.showBox=false" v-if="showBox" :model="modelBox"></thebox>
    
    
        </section>

        <section class="bannerSec">

        </section>


    </main>
    <footer class="sticky_footer">
        <h3>All Images &copy; Mini Cooper</h3>
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js" type="module" defer></script>
    
</body>
</html>