main {
    hr { 
        width: 80%; 
        border: 1px solid; 
        margin: 40px 0; 
    }

    p { max-width: 100%; }
}

html {
    scroll-behavior: smooth;
}
  
body {
    font-family: $principal-font;
    font-weight: $font-lightItalic;
    font-size: $normal-font-size;
    background: rgb(255, 255, 255);
    color: $grey-strong;
}
  

  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}
  
button {
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    max-width: 1920px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
  
.grid {
    display: grid;
    gap: 1.5rem;
}
  
.section {
    padding: 4.5rem 0 2rem;
}